@use "../../styles/variable" as *;

.scene-canvas-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.scene-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1rem;

    p {
        max-width: min(90%, 800px);
        color: $color-primary;
        font-size: 1.5rem;
        text-align: center;
    }

    &--overlay {
        position: absolute;
        inset: 0;
        height: auto;
        background: rgba(0, 0, 0, 0.55);
        pointer-events: none;
    }
}
